
#旧ページのリダイレクト設定
Redirect permanent /blog/2008/09/post-1.html http://www.amix.co.jp/blog/1470/
Redirect permanent /blog/2008/10/5-1.html http://www.amix.co.jp/blog/1475/
Redirect permanent /blog/2008/10/post-2.html http://www.amix.co.jp/blog/1469/
Redirect permanent /blog/2008/10/post-3.html http://www.amix.co.jp/blog/1468/
Redirect permanent /blog/2008/10/post-4.html http://www.amix.co.jp/blog/1467/
Redirect permanent /blog/2008/11/post-5.html http://www.amix.co.jp/blog/1466/
Redirect permanent /blog/2008/11/post-6.html http://www.amix.co.jp/blog/1465/
Redirect permanent /blog/2008/12/post-7.html http://www.amix.co.jp/blog/1464/
Redirect permanent /blog/2008/12/post-8.html http://www.amix.co.jp/blog/1463/
Redirect permanent /blog/2008/12/post-9.html http://www.amix.co.jp/blog/1471/
Redirect permanent /blog/2008/12/1.html http://www.amix.co.jp/blog/1472/
Redirect permanent /blog/2009/01/815.html http://www.amix.co.jp/blog/1473/
Redirect permanent /blog/2009/02/post-10.html http://www.amix.co.jp/blog/1482/
Redirect permanent /blog/2009/02/post-11.html http://www.amix.co.jp/blog/1481/
Redirect permanent /blog/2009/02/post-12.html http://www.amix.co.jp/blog/1480/
Redirect permanent /blog/2009/03/1313.html http://www.amix.co.jp/blog/1479/
Redirect permanent /blog/2009/04/post-13.html http://www.amix.co.jp/blog/1478/
Redirect permanent /blog/2009/04/post-14.html http://www.amix.co.jp/blog/1477/
Redirect permanent /blog/2009/05/post-15.html http://www.amix.co.jp/blog/1476/
Redirect permanent /blog/2009/05/post-16.html http://www.amix.co.jp/blog/1474/
Redirect permanent /blog/2009/06/post-17.html http://www.amix.co.jp/blog/1462/
Redirect permanent /blog/2009/07/--.html http://www.amix.co.jp/blog/1461/
Redirect permanent /blog/2009/08/post-18.html http://www.amix.co.jp/blog/1460/
Redirect permanent /blog/2009/08/post-19.html http://www.amix.co.jp/blog/1448/
Redirect permanent /blog/2009/09/post-20.html http://www.amix.co.jp/blog/1447/
Redirect permanent /blog/2009/10/post-21.html http://www.amix.co.jp/blog/1446/
Redirect permanent /blog/2009/10/100.html http://www.amix.co.jp/blog/1445/
Redirect permanent /blog/2009/11/ok.html http://www.amix.co.jp/blog/1444/
Redirect permanent /blog/2009/12/post-22.html http://www.amix.co.jp/blog/1443/
Redirect permanent /blog/2009/12/post-23.html http://www.amix.co.jp/blog/1442/
Redirect permanent /blog/2010/01/post-24.html http://www.amix.co.jp/blog/1441/
Redirect permanent /blog/2010/01/post-25.html http://www.amix.co.jp/blog/1449/
Redirect permanent /blog/2010/02/post-26.html http://www.amix.co.jp/blog/1450/
Redirect permanent /blog/2010/02/post-27.html http://www.amix.co.jp/blog/1451/
Redirect permanent /blog/2010/02/post-28.html http://www.amix.co.jp/blog/1459/
Redirect permanent /blog/2010/03/20-.html http://www.amix.co.jp/blog/1458/
Redirect permanent /blog/2010/03/2020-.html http://www.amix.co.jp/blog/1457/
Redirect permanent /blog/2010/03/20--3.html http://www.amix.co.jp/blog/1456/
Redirect permanent /blog/2010/04/-20-.html http://www.amix.co.jp/blog/1455/
Redirect permanent /blog/2010/04/post.html http://www.amix.co.jp/blog/1454/
Redirect permanent /blog/2010/04/post-29.html http://www.amix.co.jp/blog/1453/
Redirect permanent /blog/2010/05/-1.html http://www.amix.co.jp/blog/1492/
Redirect permanent /blog/2010/05/-2.html http://www.amix.co.jp/blog/1493/
Redirect permanent /blog/2010/05/-3.html http://www.amix.co.jp/blog/1494/
Redirect permanent /blog/2010/06/-.html http://www.amix.co.jp/blog/1495/
Redirect permanent /blog/2010/06/post-31.html http://www.amix.co.jp/blog/1496/
Redirect permanent /blog/2010/07/post-32.html http://www.amix.co.jp/blog/1498/
Redirect permanent /blog/2010/08/post-34.html http://www.amix.co.jp/blog/1499/
Redirect permanent /blog/2010/10/post-37.html http://www.amix.co.jp/blog/1452/
Redirect permanent /blog/2010/12/2.html http://www.amix.co.jp/blog/1483/
Redirect permanent /blog/2011/01/3.html http://www.amix.co.jp/blog/1484/
Redirect permanent /blog/2011/01/post-30.html http://www.amix.co.jp/blog/1440/
Redirect permanent /blog/2011/01/2-1.html http://www.amix.co.jp/blog/1485/
Redirect permanent /blog/2011/02/1-1.html http://www.amix.co.jp/blog/1486/
Redirect permanent /blog/2011/02/post-38.html http://www.amix.co.jp/blog/1487/
Redirect permanent /blog/2011/02/post-39.html http://www.amix.co.jp/blog/1488/
Redirect permanent /blog/2011/03/post-40.html http://www.amix.co.jp/blog/1490/
Redirect permanent /blog/2011/05/1-2.html http://www.amix.co.jp/blog/1489/
Redirect permanent /blog/2011/06/23.html http://www.amix.co.jp/blog/1501/
Redirect permanent /blog/2011/06/3-1.html http://www.amix.co.jp/blog/1502/
Redirect permanent /blog/2011/09/post-41.html http://www.amix.co.jp/blog/1503/
Redirect permanent /blog/2011/10/post-42.html http://www.amix.co.jp/blog/1504/
Redirect permanent /blog/2011/10/post-43.html http://www.amix.co.jp/blog/1505/
Redirect permanent /blog/2011/12/2011.html http://www.amix.co.jp/blog/1506/
Redirect permanent /blog/2012/01/3-2.html http://www.amix.co.jp/blog/1507/
Redirect permanent /blog/2012/04/-15.html http://www.amix.co.jp/blog/1508/
Redirect permanent /blog/2012/05/25-.html http://www.amix.co.jp/blog/1509/
Redirect permanent /blog/2012/06/25--1.html http://www.amix.co.jp/blog/2087/
Redirect permanent /blog/2012/09/post-44.html http://www.amix.co.jp/blog/2104/
Redirect permanent /blog/2012/11/2012.html http://www.amix.co.jp/blog/1510/
Redirect permanent /blog/2012/12/post-45.html http://www.amix.co.jp/blog/1511/
Redirect permanent /blog/2012/12/post-46.html http://www.amix.co.jp/blog/1512/
Redirect permanent /blog/2013/01/post-47.html http://www.amix.co.jp/blog/1513/
Redirect permanent /blog/2013/01/post-48.html http://www.amix.co.jp/blog/1514/
Redirect permanent /blog/2013/02/post-49.html http://www.amix.co.jp/blog/1515/
Redirect permanent /blog/2013/03/post-50.html http://www.amix.co.jp/blog/1516/
Redirect permanent /blog/2013/03/5.html http://www.amix.co.jp/blog/1518/
Redirect permanent /blog/2013/04/0769.html http://www.amix.co.jp/blog/1519/
Redirect permanent /blog/2013/04/2-2.html http://www.amix.co.jp/blog/1521/
Redirect permanent /blog/2013/04/post-52.html http://www.amix.co.jp/blog/1520/
Redirect permanent /blog/2013/06/post-53.html http://www.amix.co.jp/blog/1522/
Redirect permanent /blog/2013/06/post-54.html http://www.amix.co.jp/blog/1523/
Redirect permanent /blog/2013/06/post-55.html http://www.amix.co.jp/blog/1524/
Redirect permanent /blog/2013/06/post-56.html http://www.amix.co.jp/blog/1525/
Redirect permanent /blog/2013/06/post-57.html http://www.amix.co.jp/blog/1526/
Redirect permanent /blog/2013/07/4-before-after.html http://www.amix.co.jp/blog/1528/
Redirect permanent /blog/2013/07/3-before-after.html http://www.amix.co.jp/blog/1527/
Redirect permanent /blog/2013/08/post-58.html http://www.amix.co.jp/blog/1529/
Redirect permanent /blog/2013/09/homes.html http://www.amix.co.jp/blog/1530/
Redirect permanent /blog/2013/10/post-59.html http://www.amix.co.jp/blog/1533/
Redirect permanent /blog/2013/10/post-60.html http://www.amix.co.jp/blog/1535/
Redirect permanent /blog/2013/10/my-wall-paper.html http://www.amix.co.jp/blog/1537/
Redirect permanent /blog/2013/10/2013.html http://www.amix.co.jp/blog/1531/
Redirect permanent /blog/2013/10/2013-1.html http://www.amix.co.jp/blog/1536/
Redirect permanent /blog/2013/10/-1.html http://www.amix.co.jp/blog/1534/
Redirect permanent /blog/2013/10/aoc.html http://www.amix.co.jp/blog/1532/
Redirect permanent /blog/2013/11/-2.html http://www.amix.co.jp/blog/1538/
Redirect permanent /blog/2013/11/-3.html http://www.amix.co.jp/blog/1539/
Redirect permanent /blog/2013/11/-4.html http://www.amix.co.jp/blog/1540/
Redirect permanent /blog/2013/12/post-61.html http://www.amix.co.jp/blog/1541/
Redirect permanent /blog/2014/01/post-62.html http://www.amix.co.jp/blog/1542/
Redirect permanent /blog/2014/01/1-3.html http://www.amix.co.jp/blog/1543/
Redirect permanent /blog/2014/03/post-63.html http://www.amix.co.jp/blog/1544/
Redirect permanent /blog/2014/04/070.html http://www.amix.co.jp/blog/1545/
Redirect permanent /blog/2014/05/2-3.html http://www.amix.co.jp/blog/1546/
Redirect permanent /blog/2014/06/post-64.html http://www.amix.co.jp/blog/1547/
Redirect permanent /blog/2014/06/post-65.html http://www.amix.co.jp/blog/1548/
Redirect permanent /blog/2014/06/-3-1.html http://www.amix.co.jp/blog/1549/
Redirect permanent /blog/2014/07/3-3.html http://www.amix.co.jp/blog/1550/
Redirect permanent /blog/2014/08/post-66.html http://www.amix.co.jp/blog/1551/
Redirect permanent /blog/2014/08/post-67.html http://www.amix.co.jp/blog/1552/
Redirect permanent /blog/2014/09/4.html http://www.amix.co.jp/blog/1553/
Redirect permanent /blog/2014/10/my-wallpapernhk.html http://www.amix.co.jp/blog/1554/
Redirect permanent /blog/2014/10/post-68.html http://www.amix.co.jp/blog/1555/
Redirect permanent /blog/2014/11/2014.html http://www.amix.co.jp/blog/1556/
Redirect permanent /blog/2014/11/5-2.html http://www.amix.co.jp/blog/1557/
Redirect permanent /blog/2014/12/my-wallpaper.html http://www.amix.co.jp/blog/1558/
Redirect permanent /blog/2015/01/12425.html http://www.amix.co.jp/blog/1559/
Redirect permanent /blog/2015/01/post-69.html http://www.amix.co.jp/blog/1560/
Redirect permanent /blog/2015/02/22122.html http://www.amix.co.jp/blog/1561/
Redirect permanent /blog/2015/03/6.html http://www.amix.co.jp/blog/1562/
Redirect permanent /blog/2015/03/315.html http://www.amix.co.jp/blog/1563/
Redirect permanent /blog/2015/03/32122.html http://www.amix.co.jp/blog/1564/
Redirect permanent /blog/2015/03/329.html http://www.amix.co.jp/blog/1565/
Redirect permanent /blog/2015/04/3103.html http://www.amix.co.jp/blog/1566/
Redirect permanent /blog/2015/04/426.html http://www.amix.co.jp/blog/1567/
Redirect permanent /blog/2015/05/7.html http://www.amix.co.jp/blog/1568/
Redirect permanent /blog/2015/06/62728.html http://www.amix.co.jp/blog/1569/
Redirect permanent /blog/2015/08/7228----------------------------------------------------------.html http://www.amix.co.jp/blog/1570/
Redirect permanent /blog/2015/08/822.html http://www.amix.co.jp/blog/1571/
Redirect permanent /blog/2015/08/823.html http://www.amix.co.jp/blog/1572/
Redirect permanent /blog/2015/08/82930.html http://www.amix.co.jp/blog/1574/
Redirect permanent /blog/2015/08/-21.html http://www.amix.co.jp/blog/1573/
Redirect permanent /blog/2015/09/post-70.html http://www.amix.co.jp/blog/1575/
Redirect permanent /blog/2015/09/21.html http://www.amix.co.jp/blog/1576/



# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /blog/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /blog/kanri/index.php [L]
</IfModule>

# END WordPress
